In [ ]:
A look at chocolate bars

In [2]:
# import libraries to help with discovery and visualization
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
cacao = pd.read_csv("data/flavors_of_cacao.csv", index_col=0)
cacao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1795 entries, A. Morin to Zotter
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Specific Bean Origin
or Bar Name  1795 non-null   object
 1   REF                               1795 non-null   int64
 2   Review
Date                       1795 non-null   int64
 3   Cocoa
Percent                     1795 non-null   object
 4   Company
Location                  1795 non-null   object
 5   Rating                            1795 non-null   float64
 6   Bean
Type                         1794 non-null   object
 7   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 126.2+ KB

In [19]:
cacao.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [20]:
cacao.head()

,Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
Company (Maker-if known),,,,,,,,
A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [21]:
# remove the \n from the column names

columns = ['Specific Bean Origin\nor Bar Name', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Bean\nType', 'Broad Bean\nOrigin'] 
cacao.columns = cacao.columns.str.replace('\n', ' ')

In [23]:
cacao.head(5)

,Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
Company (Maker-if known),,,,,,,,
A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [53]:
cacao['Specific Bean Origin or Bar Name'].value_counts()

Madagascar            57
Peru                  45
Ecuador               42
Dominican Republic    37
Venezuela             21
                      ..
Madagared              1
Rio Eni                1
Cortes                 1
Hispaniola w/ nibs     1
El Ceibo Coop          1
Name: Specific Bean Origin or Bar Name, Length: 1039, dtype: int64